{% extends "base.html" %}

{% block title %}Profile{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='JS/profile.js') }}"></script>
{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <h1 class="text-center">Profile</h1>
    <div class="card">
      <div class="card-body">
        <p><strong>Name:</strong> {{ user_name }}</p>
        <p><strong>Email:</strong> {{ user_email }}</p>
        <p><strong>Streak:</strong> {{ streak }} days</p>
        <p><strong>Quizzes Taken:</strong> {{ quizzes_taken }}</p>
        <p><strong>Tasks Completed:</strong> {{ tasks_done }}</p>
        <a href="{{ url_for('updatepassword') }}" class="btn btn-primary">Update Password</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}